<script type="text/javascript">
    var isValid = true;

   function funct_validation(){
        if(isValid){
            return true
        } else {
            return false;
        }
    }

    $(document).ready(function(){
       
        $("#email").on('input', function() {
            if($(this).val().trim() != ""){
                validateEmail($(this).val().trim())
            }         
        });

        function validateEmail(email)
            {
                axios.post('/validateUserEmail', {
                email_id: email
            }).then(response => {  
                if(response.data.msg === 'Success'){
                    console.log("response" + response.data.user.fullname)
                    isValid = false
                    $("#erroremail").text('The User Already exists')
                } else {
                    console.log("not exists")
                    $("#erroremail").text('')
                    isValid = true
                }
                
                }).catch(error => {      
                    isValid = false          
                }); 
            }

        const $tableID = $('#userslist');

        $tableID.on('click', '.table-remove', function () { 
            const $thistable = $(this)
            const $row = $(this).parents('tr')    
            var userid = $row[0].cells["0"].textContent

            toastr.info("<br /><button type='button' id='confirmYes' class='btn clear' value='yes'>Yes</button>  <button type='button' class='btn clear' id='confirmNo' value='no' >No</button>",
            'Are you sure you want to delete this user?',
                {  
                    positionClass: "toast-top-center",
                    timeOut : 5000,
                    allowHtml: true,
                    closeButton: false,
                    onShown: function (toast) {
                        $("#confirmYes").click(function(){
                            $thistable.parents('tr').detach();
                            //$thistable.remove($row.index)
                            removeItem(userid)
                        });
                        $("#confirmNo").click(function(){
                            toastr.remove()
                        });
                        }
                })
        });

        $tableID.on('click', '.table-edit', function () { 
            const $row = $(this).parents('tr')    
            var userid = $row[0].cells["0"].textContent
             window.location = "/edituser?id=" +userid; 
        });

        function removeItem(userid){
            axios.post('/userRemove', {
                userid: userid
            }).then(response => {  
                if(response.data.msg === 'Success'){
                    console.log("User Removed")
                    
                } 
                }).catch(error => {      
                    isValid = false          
                }); 
        }

        $("#rolename").on('input', function() {
            var hdnroleid = $("#roleid").val()
            console.log("hdnroleid" , hdnroleid)

            if($(this).val().trim() != ""){
                validateRole($(this).val().trim(),hdnroleid )
            }         
        });

        function validateRole(rolename , roleid)
            {
                axios.post('/validateRole', {
                rolename: rolename,
                editedroleid : roleid
            }).then(response => {  
                if(response.data.msg === 'Success'){
                    console.log("response" + response.data.role.rolename)
                    isValid = false
                    $("#errorrole").text('The Role Already exists')
                } else {
                    console.log("not exists")
                    $("#errorrole").text('')
                    isValid = true
                }
                
                }).catch(error => {      
                    isValid = false          
                }); 
        }

        const $roletableID = $('#roleslist');

        $roletableID.on('click', '.table-remove', function () { 
            const $thistable = $(this)
            const $row = $(this).parents('tr')    
            var roleid = $row[0].cells["0"].textContent

            toastr.info("<br /><button type='button' id='confirmYes' class='btn clear' value='yes'>Yes</button>  <button type='button' class='btn clear' id='confirmNo' value='no' >No</button>",
            'Are you sure you want to delete this role?',
                {  
                    positionClass: "toast-top-center",
                    timeOut : 5000,
                    allowHtml: true,
                    closeButton: false,
                    onShown: function (toast) {
                        $("#confirmYes").click(function(){
                            $thistable.parents('tr').detach();
                            //$thistable.remove($row.index)
                            removeRoleItem(roleid)
                        });
                        $("#confirmNo").click(function(){
                            toastr.remove()
                        });
                    }
                })
        });

        function removeRoleItem(roleid){
            axios.post('/roleRemove', {
                roleid: roleid
            }).then(response => {  
                if(response.data.msg === 'Success'){
                    console.log("Role Removed")
                    
                } 
                }).catch(error => {      
                    isValid = false          
                }); 
        }

        $roletableID.on('click', '.table-edit', function () { 
            const $row = $(this).parents('tr')    
            var roleid = $row[0].cells["0"].textContent
            window.location = "/editrole?id=" + roleid; 
        });

})
</script>
