<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevOps Automation</title>
    <% include styles.ejs %>
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
  
  <% include sidebar.ejs %>

  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Dashboard</h2>
      <hr>
      <!-- Dashboard cards-->
      <div class="row">
        <div class="col-md-3">
            
            <div class="card border-info mx-sm-1">
              <div class="row p-3">
                <div class="col-xs-4">
                  <div class="col-md-12"><h5>Servers</h5></div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-warning"><span id="serverTotal">0</span>
                  </div>
                </div>  

                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-danger">Inactive : <span id="serverFail">0</span></span>
                  </div>
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-success">Active : <span id="serverSuccess">0</span></span>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1">
              <div class="row  p-3" style="padding-bottom: 6px !important;">
                <div class="col-xs-4">
                  <div class="col-md-12"><h5>Jobs</h5></div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-warning"><span id="jenTotal">0</span>
                  </div>
                </div>  

                <div class="col-xs-8">
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-danger">Failed : <span id="jenFail">0</span></span>
                  </div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-secondary">Disabled : <span id="jenDisable">0</span></span>
                  </div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-primary">Success : <span id="jenSuccess">0</span></span>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-info mx-sm-1">
              <div class="row p-3">
                <div class="col-xs-4">
                  <div class="col-md-12"><h5>Users</h5></div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-warning"><span id="userTotal">0</span>
                  </div>
                </div>  

                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-danger">Inactive : <span id="userFail">0</span></span>
                  </div>
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-success">Active : <span id="userSuccess">0</span></span>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-info mx-sm-1">
              <div class="row p-3">
                <div class="col-xs-4">
                  <div class="col-md-12"><h5>Apps</h5></div>
                  <div class="col-md-12">
                    <span class="badge badge-pill badge-warning"><span id="appTotal">0</span>
                  </div>
                </div>  

                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-danger">Inactive : <span id="appFail">0</span></span>
                  </div>
                  <div class="col-xs-12">
                    <span class="badge badge-pill badge-success">Active : <span id="appSuccess">0</span></span>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <!-- Dashboard cards-->
</div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

        </div>
      </div>
      
      
    </div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->

<% include scripts.ejs %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>

<!-- Only for Dashboard -->
<script type="text/javascript">
  $(document).ready(function() {

    var socket = io();

   

    socket.on('send', function (data) {
        var html = "<div class='msg'>"+data+"</div>";
        $('.messages').append(html);
        alert(html);
    });
    
    socket.on('DashboardJenkins', function (data) {

       $('#jenFail').html(data.errorCount);
       $('#jenDisable').html(data.disableCount);
       $('#jenSuccess').html(data.successCount);
       $('#jenTotal').html(data.total);
    });



Highcharts.chart('container', {

    title: {
        text: 'Resourse Monitoring RAM'
    },

    yAxis: {
        title: {
            text: 'Size'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

     xAxis: {
        categories: ['Instance 1', 'Instance 2']
    },
    plotOptions: {
        series: {
             label: {
                connectorAllowed: false
            }
        }
    },

    series: [{
        name: 'Free',
        data: [43934, 52503 ]
    }, {
        name: 'Total',
        data: [24916, 24064]
    }, {
        name: 'Used',
        data: [11744, 17722]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

  });
</script>




</body>
</html>