
#n22_67 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(255, 255, 255);
}
 
 
 
			/* Welcome Back! */
			#n22_70 {
				font-family: Poppins;
				font-size: 28px;
				font-weight: 500;
				letter-spacing: 0px;
				color: rgb(14, 39, 71);
				vertical-align: middle;
				justify-content: flex-start;
				width: 572px;
				align-items: center;
				line-height: 36px;
				height: 74px;
				left: calc((50% - 286px) + 286px);
				top: 203px;
			}
 
			/* Welcome Back! */
			#n22_71 {
				font-family: Poppins;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0px;
				color: rgb(99, 98, 114);
				vertical-align: middle;
				justify-content: flex-start;
				width: 532px;
				align-items: center;
				line-height: 20px;
				height: 40px;
				left: calc((50% - 266px) + 266px);
				top: 282px;
			}
 
 
			/* Rectangle */
			#n22_73 {
				border-radius: 4px;
				box-shadow: rgb(150, 150, 150) 0px 0px 0px 1px inset;
				left: 683px;
				right: 312px;
				bottom: 261px;
				height: 45px;
			}
 
			/* ↳ ✏️ Value */
			#n22_74 {
				font-family: Poppins;
				font-size: 14px;
				font-weight: 300;
				letter-spacing: 0px;
				color: rgb(60, 59, 77);
				vertical-align: middle;
				justify-content: flex-start;
				width: 272px;
				align-items: center;
				line-height: 22px;
				height: 22px;
				left: 704px;
				top: 396px;
			}
 
		/* Label */
		#n22_75 {
			font-family: Poppins;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(14, 39, 71);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 69px;
			transform: translate(0px, -2.38667px);
			line-height: 22px;
			height: 22px;
			left: 683px;
			top: 348px;
		}
 
		/* Label */
		#n22_76 {
			font-family: Poppins;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(191, 33, 75);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 120px;
			transform: translate(0px, -0.386666px);
			line-height: 22px;
			height: 22px;
			left: 683px;
			top: 167px;
		}
 
	/* Rectangle 2 */
	#n22_77 {
		background-image: url("https://s3-alpha-sig.figma.com/img/21a4/2e21/f6ab499f1c57d7809e0279ea73dc2a87?Expires=1572825600&Signature=etOXBNlHHtercJ37d8zKazUcahhL-nn-BHHfkPWdA9ylp0REyarZVAFaAZ11~6V8yPgieHs7p44X2n24qKSBFbrJGhmltwIIO4OeXBnSWqR9D9Y6PnhSaoNOl5kZ4gHItJF~cpRTZTNb8OaD80lCm23NW1jfFcjal~LFBnc4XfnP49b6zW0rMavIS4NWMCFz68nDhdc261Rzr~nH21PcFlL8yS72Dcxt~0B22Ss-uaqOoq872cPmH~nF1tZR9JP6TudPSd7EddRxq7DwFIYg7PgaE6Vf1SDcquWgTHfIEzXmPrjItHf0srEEF~IaAxeGqGOx8M3WfQpLiTzJZebSfw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		left: -9px;
		width: 576.942px;
		top: -144px;
		height: 1205.38px;
	}
 
 
		/* Rectangle 1 */
		#n22_79 {
			background: rgb(191, 33, 75);
			border-radius: 60px;
			left: 683px;
			width: 148px;
			top: 475px;
			height: 48px;
		}
 
		/* Let’s Start */
		#n22_80 {
			font-family: Poppins;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 77px;
			align-items: center;
			line-height: 36px;
			height: 20px;
			left: 715px;
			top: 489px;
		}