<div id= 'userpage'>
        <!-- Rectangle 2 -->
        <div class="left top rectangle" id="n22_2"></div>
        <!-- 1 - OpsLab - Landing -->
        <div class="frame" id="n1_2">
        <!-- Group 10 -->
        <div>
            <p style="color:red;" id="validationerrors"> </p>
        </div>
            <div class="group" id="n22_6">
                <!-- Group 9 -->
                <!-- Label -->
                <div class="left top text" id="n22_5">Welcome to OpsLab</div>
                <div class="group" id="n22_3">
                    <!-- Welcome Back! -->
                    <div class="center top text" id="n7_48">Fix your Application development easily</div>
                    <!-- Welcome Back! -->
                    <div class="center top text" id="n7_49">Continuously detect issues in your delivery pipeline, increase your data validation coverage and easily improve your data quality. </div>
                </div>
                <!-- Group 5 -->
                <!-- Label -->
                <div class="left top text" id="n17_38">Work email</div>
                <div class="group" id="n17_35">
                    <!-- Rectangle -->
                    <input type="text" placeholder="Enter Email here..." 
                    class="left_right bottom rectangle" id="txtEmail" />
                </div>      
            </div>    
            <!-- Group 11 -->
            <div class="group" id="n22_9">
                <!-- Rectangle 1 -->
                <button class="left top rectangle" id="btnContinue" disabled>Continue</button>
                <!-- Continue -->
                <!-- <button class="left top text" id="n22_8"></button> -->
            </div>
        </div>
    </div>





<div id='pwdpage' style="display: none" >  
    <!-- Label -->
    <label class="left top text" id="n22_76">Hi Testname!</label>
    <div class="group" id="n22_69">
        <!-- Welcome Back! -->
        <div class="center top text" id="n22_70">Build a resilient software every single time</div>
        <!-- Welcome Back! -->
        <div class="center top text" id="n22_71">Error, crash and performance monitoring software. Diagnose issues with greater speed.</div>
    </div> 
    <!-- Label -->
    <div class="left top text" id="n22_75">Password</div>
    <a href="#" id="aforpwd" style="display: none">Forget Your Password?</a>
    <!-- Group 5 -->
    <div class="group" id="n22_72">
        <!-- Rectangle -->
        <input type="password" placeholder class="left_right bottom rectangle" id="txtPassword">
    </div>
     <div class="group" id="n22_78">
    <!-- Rectangle 1 -->
        <button class="left top rectangle" id="btnStart" disabled>Let's Start</button>
        <!-- Let’s Start -->  
    </div>
    <!-- Rectangle 2 -->
    <div class="left top rectangle" id="n22_77"></div>
    <!-- Group 11 -->
   
</div>