<html>
    <head>
        <%- include('partials/header') -%>
        <!-- <link rel="stylesheet" href="/styles/login.css" media="screen"></link>       -->

    </head>
    <body> 
		<div class="group" id="n22_69">
                <!-- Welcome Back! -->
                <div class="center top text" id="n22_70">Build a resilient software every single time</div>
                <!-- Welcome Back! -->
                <div class="center top text" id="n22_71">Error, crash and performance monitoring software. Diagnose issues with greater speed.</div>
            </div>
            <!-- Group 5 -->
            <div class="group" id="n22_72">
                <!-- Rectangle -->
                <input type="password" placeholder class="left_right bottom rectangle" id="n22_73"></div>
            </div>
            <!-- Label -->
            <div class="left top text" id="n22_75">Password</div>
            <!-- Label -->
            <div class="left top text" id="n22_76">Hi Testname!</div>
        </div>
        <!-- Rectangle 2 -->
        <div class="left top rectangle" id="n22_77"></div>
        <!-- Group 11 -->
        <div class="group" id="n22_78">
            <!-- Rectangle 1 -->
            <div class="left top rectangle" id="n22_79"></div>
            <!-- Let’s Start -->
            <div class="left top text" id="n22_80">Let’s Start</div>
        </div>
    </div>
</body>
</html>

<%- include('partials/scripts') %>
<!-- <%- include('partials/login_script') %> -->